همیشه توضیحات  را به زبان فارسی بنویس

لطفا همیشه کدنویسی را در فایلها خودت انجام بده


بخاطر داشته باش پسورد روت mysql = 123 است
همیشه دقت کن پورت فرانت اند 3150 است و پورت بک اند 5150 است


ادرس گیت هاب برنامه :
https://github.com/c123ir/gemini-pro-studio.git